<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>前端第7天作业</title>
		<!-- 导入vue组件 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 导入axios组件 -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- 引入element-ui样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入element-ui组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	</head>
	<body>
		<div id="app" style="text-align: center;width: 600px;height: 400px;margin: 100px auto;">
			<h1>用户登录</h1>
			<div>
				<el-form :model="formLogin" ref="formLogin" label-width="100px">
					<el-form-item label="账号">
						<el-input type="text" v-model="formLogin.username"></el-input>
					</el-form-item>
					<el-form-item label="密码">
						<el-input type="password" v-model="formLogin.password"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="loginHandle">点击登录</el-button>
					</el-form-item>
				</el-form>
				<button type="button" @click="getProject()">获取所有项目</button>
			</div>
			<div>
				<el-table
				      :data="projects"
				      style="width: 100%">
					  <el-table-column
					    prop="id"
					    label="ID"
					    width="180">
					  </el-table-column>
				      <el-table-column
				        prop="create_time"
				        label="日期"
				        width="180">
				      </el-table-column>
				      <el-table-column
				        prop="name"
				        label="姓名"
				        width="180">
				      </el-table-column>
				      <el-table-column
				        prop="leader"
				        label="领导">
				      </el-table-column>
					  <el-table-column
					    prop="programmer"
					    label="项目名">
					  </el-table-column>
					  <el-table-column
					    prop="testcases"
					    label="用例数">
					  </el-table-column>
				    </el-table>
			</div>
		</div>
		<script type="text/javascript">
			// 创建axios对象
			const request = axios.create({
				baseURL: 'http://api.keyou.site:8000',
			})

			request.interceptors.request.use(function(config) {
				token = window.sessionStorage.getItem("token");
				if (token){
					config.headers.Authorization = 'JWT '+ token;
				};
				return config;
			})

			var views = {
				el: "#app",
				data: {
					formLogin: {
						username: "musen123",
						Password: "1234567"
					},
					projects:[]
				},
				methods: {
					loginHandle: function() {
						const res = request.post("/user/login/", this.formLogin)
						res.catch(function(response) {
							console.log("登录失败！")
						})
						res.then(function(response) {
							window.sessionStorage.setItem("token",response.data.token);
							console.log("登录成功");
						})
					},
					getProject:async function(){
						console.log('请求项目列表接口')
						const sho = await request.get("/projects/")
						console.log(JSON.stringify(sho.data))
						this.projects = sho.data.results
					}
				}
			}

			var aaa = new Vue(views)
		</script>
	</body>
</html>
