<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QQ注册</title>
    <link rel="stylesheet" href="../static/css/qq.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="../static/img/qq.ico">
</head>
<body>
<div class="lf"></div>
<div class="rg" style="margin: 200px 0">
    <div>
        <p><h1 >欢迎注册QQ</h1></p>
    </div>
    <div style="width: 460px">
        <div class="fl-l" style="font-size: 1.5em;font-family: 微软雅黑,serif;margin-right: 70px">每一天，乐在沟通。</div>
        <div style="color: dodgerblue;font-family: 微软雅黑;font-size: 1.5em;float: right">免费靓号</div>
    </div>
    <div>
        <form action="" method="post">
            <input type="text" placeholder="昵称"><br>
            <input type="text" placeholder="密码"><br>
            <select name="" id="qh">
                <option>中国 +86</option>
                <option>中国香港特别行政区 +852</option>
                <option>中国澳门特别行政区 +853</option>
                <option>中国台湾地区 +886</option>
            </select>
            <input type="text" style="width: 300px;margin-right: 10px" placeholder="手机号码"><br>
            <label style="font-size: 10px">可通过该手机号找回密码</label><br>
            <input type="submit" value="立即注册" style="background-color: dodgerblue;border-width: 0;font-size: 24px;color: white"><br>
            <input type="checkbox" id="agree" style="margin: 10px;width: 10px;height: 10px"><label for="agree">我已阅读并同意相关服务条款和隐私政策</label>
        </form>
    </div>
    <div></div>
</div>
</body>
</html>